<div class="container">
  <div class="page-header">Add Client</div>
  <div id="formInfo">  
    <span class="label label-info"> Fillup Client Details </span>
  </div>
  <br />
  <fieldset class="form-group">
    <div class="input-group">
      <div class="input-group-addon"> Username </div>
      <input type="text" class="form-control" id="username" placeholder="Enter username">
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="input-group">
      <div class="input-group-addon"> Email </div>
      <input type="text" class="form-control" id="email" placeholder="Enter your email">
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="input-group">
      <div class="input-group-addon"> Password </div>
      <input type="password" class="form-control" id="password" placeholder="New Password">
    </div>
  </fieldset>
  <button type="submit" class="btn btn-primary" id="add_client"> Submit </button>
  
  <!-- For any Error Pass @error -->
  <div id="error">
    <% if @error then %>
      <div class="alert alert-error"><%= @error %></div>
    <% end %>
  </div>
</div>


<script type="text/javascript">

  // Add a new Client or Consumer 
  // Required Username and custom_id input from user
  $('#add_client').click(function(){
    var username = $('#username').val();
    var email = $('#email').val();
    var password = $('#password').val();

    if (username && email && password){
      $.post("/add_client",
      {
        username: username,
        email: email,
        password: password
      },
      function(data,status){
        $('#formInfo').html('<span class="label label-success">' + data + '</span>');
        // if (data == "Success"){
        //   $('#formInfo').html('<span class="label label-success">Success</span>');
        // } else {
        //   $('#formInfo').html('<span class="label label-danger">Error</span>');
        // }
      });
    } else {
      $('#formInfo').html('<span class="label label-danger">Input values missing</span>');
    }
  });
  
</script>