<div class="page-header">Manage Clients</div>

  <select class="form-control" id="client_manage_list">
    <option value="null" data-apikey="null" data-pluginid="null">Select Client</option>
    <% @clients.each do |cl| %>
      <option 
      	value="<%= cl[:id] %>" 
      	data-apikey="<%= cl[:authkey] %>" 
      	data-pluginid="<%= cl[:pluginid] %>" > 
      		<%= cl[:custom_id] %> 
    	</option>
    <% end %>
  </select>
  <br /><br />

  <div class="list-group">
    <div class="list-group-item list-group-item-success"> 
    	Set Daily Requests Rate Limit (Set "0" to block client) 
    	<input type="number" class="form-control" id="rate_limit"> </input> 
    </div>
  </div>
  <div id="formInfo"></div>
  <br>
  <button type="button" id="updateRateLimit" class="btn btn-default"> Update </button>

</div>