<div class="container">
  <div class="page-header"> Manage Client </div>
  
  <!-- For any Error Pass @error -->
  <div id="error">
    <% if @error then %>
      <span class="label label-danger"><%= @error %></span>
    <% end %>
  </div>
</div>