<div class="container">
  <div class="page-header"> Manage Client </div>
  
  <!-- For any Error Pass @error -->
  <div id="error">
    <% if @error then %>
      <div class="alert alert-error"><%= @error %></div>
    <% end %>
  </div>
</div>