<div class="container">
  <div class="page-header">Manage Rate Limits</div>
  <select class="form-control" id="client_manage_list">
    <option value="null" data-apikey="null" data-pluginid="null">Select Client</option>
    <% @clients.each do |cl| %>
      <option 
      	value="<%= cl[:id] %>" 
      	data-pluginid="<%= cl[:pluginid] %>" > 
      		<%= cl[:custom_id] %> 
    	</option>
    <% end %>
  </select>
  <br /><br />
  <div class="list-group">
    <div class="list-group-item list-group-item-success"> 
      Second Limit (Set "0" to block client) 
      <input type="number" class="form-control" id="rate_limit_second" min="0" />
    </div><br />
    <div class="list-group-item list-group-item-success"> 
      Minute Limit (Set "0" to block client) 
      <input type="number" class="form-control" id="rate_limit_minute" min="0" />
    </div><br />
    <div class="list-group-item list-group-item-success"> 
      Hour Limit (Set "0" to block client) 
      <input type="number" class="form-control" id="rate_limit_hour" min="0" />
    </div><br />
    <div class="list-group-item list-group-item-success"> 
      Day Limit (Set "0" to block client) 
      <input type="number" class="form-control" id="rate_limit_day" min="0" />
    </div><br />
    <div class="list-group-item list-group-item-success"> 
      Month Limit (Set "0" to block client) 
      <input type="number" class="form-control" id="rate_limit_month" min="0" />
    </div><br />
    <div class="list-group-item list-group-item-success"> 
      Year Limit (Set "0" to block client) 
      <input type="number" class="form-control" id="rate_limit_year" min="0" />
    </div>
  </div>
  <div id="formInfo">
    <!-- For any Error Pass @error -->
    <div id="error">
      <% if @error then %>
        <span class="label label-danger"><%= @error %></span>
      <% end %>
    </div>
  </div>
  <br />
  <button type="button" id="update" class="btn btn-default"> 
    Update 
  </button>

  
</div>

<script type="text/javascript">
  $('#update').click(function(){
    if ($('#client_manage_list').val() != "null"){
      $.post("/rate_limiting/update",
      {
        plugin_id: String($('#client_manage_list :selected').data("pluginid")),
        consumer_id: String($('#client_manage_list :selected').val()),
        config: {
          day: $('#rate_limit_day').val(),
          minute: $('#rate_limit_minute').val(),
          second: $('#rate_limit_second').val(),
          hour: $('#rate_limit_hour').val(),
          year: $('#rate_limit_year').val(),
          month: $('#rate_limit_month').val()
        }
      },
      function(data,status){
        if (data != "error") {
          data = jQuery.parseJSON(data);
          if (data['day'] != null){  
            $('#rate_limit_day').val(data['day']);
            $('#rate_limit_minute').val(data['minute']);
            $('#rate_limit_second').val(data['second']);
            $('#rate_limit_hour').val(data['hour']);
            $('#rate_limit_year').val(data['year']);
            $('#rate_limit_month').val(data['month']);
            $('#formInfo').html('<span class="label label-success">Updated Successfull</span>');
          } else {
            $('#formInfo').html('<span class="label label-danger">'+data+'</span>');
          }
        }
      });
    } else {
      $('#formInfo').html('<span class="label label-danger">Input values missing</span>');
    }
  });

  $('#client_manage_list').change(function(){
    if ($(this).val() != "null"){
      $.get("/rate_limiting/details",
      {
        plugin_id: String($('#client_manage_list :selected').data("pluginid"))
      },
      function(data,status){
        var obj = jQuery.parseJSON(data);
        $('#rate_limit_day').val(obj['day']);
        $('#rate_limit_minute').val(obj['minute']);
        $('#rate_limit_second').val(obj['second']);
        $('#rate_limit_hour').val(obj['hour']);
        $('#rate_limit_year').val(obj['year']);
        $('#rate_limit_month').val(obj['month']);
      });
    }
  });

</script>